<!DOCTYPE html>
<html>
<head>
  <title>Minigram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
    UPLOADCARE_PUBLIC_KEY = "65847d1f688e16ccd915";
  </script>
  <script charset="utf-8" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>
</head>
<body>
<header>
  <%= link_to 'minigram', root_path %>
</header>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>
